.caculator-box{
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    border: 2px dashed #ced4da;
    margin-bottom: 20px;
   box-shadow: inset 0 0 10px rgba(0,0,0,0.02);
}
.price-input-cost{
    background-color: #e9ecef !important;
    color: #dc3545 !important;
    font-weight: 700;
    cursor: not-allowed;
}
.price-input-retail{
    font-weight: 700;
    color: #28a745 !important;
    background-color: #f8fff9 !important;
    font-size: 15px !important; 
}